; NOTE: This is an edited version of the file I found here:
; http://www.rejetto.com/wiki/index.php?title=HFS:_Secure_your_server

; Lines preceded with a “;” are comments 
; Empty lines are ignored 
; For more options and details: see the manual (stunnel.html) 

; File with certificate and private key 
cert = stunnel.pem 
key = stunnel.key 

; Log (1= minimal, 5=recommended, 7=all) and log file) 
; Preceed with a “;” to disable logging 
debug = 5 
output = stunnel.log 

; Some performance tuning 
socket = l:TCP_NODELAY=1 
socket = r:TCP_NODELAY=1 

; SSL bug options / NO SSL:v2 (SSLv3 and TLSv1 is enabled) 
options = ALL 
options = NO_SSLv2 

; Service-level configuration 
; Stunnel listens to port 443 (HTTPS) to any IP 
; and connects to port 80 (HTTP) on localhost 
[https] 
accept = 0.0.0.0:443 
connect = 127.0.0.1:80 
TIMEOUTclose = 0 
